@model TestAspMvc.Models.User
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Вход";
}

<div class="post">
@if (Model != null)
{
    <p>Здравствуй, @Model.Login!</p>
}
else
{
    using (Ajax.BeginForm("Login", "Auth", new AjaxOptions()
    {
        HttpMethod = "POST"
    }))
    {
        <div>
            Логин:
        </div>
        <div>
            @Html.TextBoxFor(model => model.Login, "", new {placeholder = "Login"})
        </div>
        <div>
            Пароль:
        </div>
        <div>
            @Html.PasswordFor(model => model.Password, new {placeholder = "Password"})
        </div>
        <input type="submit" value="Войти" class="comments"/>
    }
}
</div>

